.gridTable{border:1px solid gray;}

.gridHdrTd{
	border: none;
	background-color : #5E5E5F; 
}

.gridHdrTdHover {
	background-color : red; 
	cursor : hand;
}

.gridHdrTd div{
	color: white;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;				
	width:70px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	margin: 4px 0px 4px 0px;
	padding-left: 25px;
	height: 21px;
	line-height : 15px;
}

.gridHdrListTd{
	border: none;
	background-color : #CCC;
}

.gridHdrListTdHover{
	background-color : #CCC;
	cursor : hand;
}

.gridHdrListTd div{
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;				
	width:70px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	margin: 4px 0px 4px 0px;
	padding-left: 25px;
	height: 21px;
	line-height : 15px;
}

.gridHdrListTdCollapsed{
	background : url('./images/open.gif') no-repeat;
}

.gridHdrListTdExpanded{
	background : url('./images/close.gif') no-repeat;
}

.gridValueTd {
	background-color : #EFEFEF;
}

.gridValueTdHover {
	background-color : #F58988; 
	cursor : hand;
}

.navTd {
	text-align:center;
	color: white;
}

.navTdHover{
	background-color : lightgray; 
	cursor : hand;
}


.gridValueCellChecked{
	background-color : #898686;	
}

.gridValueCellMiChecked{
	background-color : #B4ADA6;
}

.gridValueCellDisabled{
	background-color : white;
	cursor : pointer;
}
