.gridTable{
	border-collapse : separate;	
	background-color : white;
}

.gridTable td{
	padding 1px;
}

/*
------------------------------------------------------ HEADER TITLE
*/

.gridHdrTd{
	border: none;
	background-color : #CCC; 	
	text-align : left;
	color : black;
}

.gridHdrTd div{	
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;					
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	margin: 0px 0px 0px 0px;
	padding-left: 5px;	
	height: 21px;
	line-height : 21px;
}

.gridHdrTdHorizontal div{		
}

.gridHdrTdVertical div{
}

/*
------------------------------------------------------ HEADER LIST
*/

.gridHdrListTd{
	border: 1px solid gray;
	background-color : white;
}

.gridHdrListTdHover{
	background-color : white;
	cursor : hand;
}

.gridHdrListTd div{
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;				
	width:70px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	margin: 4px 0px 4px 0px;
	padding-left: 25px;
	height: 21px;
	line-height : 15px;
}

.gridHdrListTdCollapsed{
	background : url('./images/open.gif') no-repeat;
}

.gridHdrListTdExpanded{
	background : url('./images/close.gif') no-repeat;
}

/*
------------------------------------------------------ HEADER ORPHAN LIST
*/

.gridHdrListOrphanTd{
	border: none;
	background-color : lightgray;
}

.gridHdrListColOrphanTd{
	height : 31px;
}

.gridHdrListRowOrphanTd{
	width : 95px;
}

/*
------------------------------------------------------ HEADER VALUE
*/

.gridHdrValueTd{
	border: 1px solid gray;
	background-color : white; 
}

.gridHdrValueTdHover {
	background-color : white; 
	cursor : hand;
}

.gridHdrValueTd div{
	color: gray;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;				
	width:90px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	margin: 4px 0px 4px 0px;
	padding-left: 5px;
	height: 21px;
	line-height : 15px;
}

/*
------------------------------------------------------ BODY CELLS
*/

.gridValueTd {
	background-color : #EFEFEF;
	border-bottom : 1px solid silver;
}

.gridValueTdHover {
	background-color : #F58988; 
	cursor : hand;
}

.gridValueCellChecked{
	background-color : #898686;	
}

.gridValueCellMiChecked{
	background-color : #B4ADA6;
}

.gridValueCellDisabled{
	background-color : white;
	cursor : default;
}

/*
------------------------------------------------------ SCROLL BARS
*/

.navTd {
	background-color : #A1FFE1;
}

.navTdHover{
	background-color : lightgray; 
	cursor : hand;
}

.navTdTopBottom{
	
}

.navTdLeftRight{
	
}

.scrollLeft{
	display : block;
	background : url('./images/scrollLeft.gif') no-repeat;
	width : 21px;
	height : 21px;
}

.scrollLeft-dis{
	display : block;
	background : url('./images/scrollLeft-dis.gif') no-repeat;
	width : 21px;
	height : 21px;
	cursor : default;
}

.scrollRight{
	display : block;
	background : url('./images/scrollRight.gif') no-repeat;
	width : 21px;
	height : 21px;
}

.scrollRight-dis{
	display : block;
	background : url('./images/scrollRight-dis.gif') no-repeat;
	width : 21px;
	height : 21px;
	cursor : default;
}

.scrollTop{
	display : block;
	background : url('./images/scrollTop.gif') no-repeat;
	width : 21px;
	height : 21px;
}

.scrollTop-dis{
	display : block;
	background : url('./images/scrollTop-dis.gif') no-repeat;
	width : 21px;
	height : 21px;
	cursor : default;
}

.scrollBottom{
	display : block;
	background : url('./images/scrollBottom.gif') no-repeat;
	width : 21px;
	height : 21px;
}

.scrollBottom-dis{
	display : block;
	background : url('./images/scrollBottom-dis.gif') no-repeat;
	width : 21px;
	height : 21px;
	cursor : default;
}

/*
------------------------------------------------------ PROGRESS
*/

.progress{
	display : block;
	background : url('./images/loading.gif') repeat;
	width : 300px;
	height : 300px;
}