.gridTable{
	border-collapse : separate;
}

.gridHdrTd{
	border: none;
	background-color : #5E5E5F; 
}

.gridHdrTdHover {
	background-color : red; 
	cursor : hand;
}

.gridHdrTd div{
	color: white;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;				
	width:70px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	margin: 4px 0px 4px 0px;
	padding-left: 25px;
	height: 21px;
	line-height : 15px;
}

.gridHdrListTd{
	border: none;
	background-color : #CCC;
}

.gridHdrListTdHover{
	background-color : #CCC;
	cursor : hand;
}

.gridHdrListTd div{
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;				
	width:70px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	margin: 4px 0px 4px 0px;
	padding-left: 25px;
	height: 21px;
	line-height : 15px;
}

.gridHdrListTdCollapsed{
	background : url('./images/open.gif') no-repeat;
}

.gridHdrListTdExpanded{
	background : url('./images/close.gif') no-repeat;
}

.gridValueTd {
	background-color : #EFEFEF;
}

.gridValueTdHover {
	background-color : #F58988; 
	cursor : hand;
}

.navTd {
	background-color : #A1FFE1;
}

.navTdHover{
	background-color : lightgray; 
	cursor : hand;
}

.navTdTopBottom{
	
}

.navTdLeftRight{
	
}

.gridValueCellChecked{
	background-color : #898686;	
}

.gridValueCellMiChecked{
	background-color : #B4ADA6;
}

.gridValueCellDisabled{
	background-color : white;
	cursor : default;
}

.scrollLeft{
	display : block;
	background : url('./images/scrollLeft.gif') no-repeat;
	width : 21px;
	height : 21px;
}

.scrollLeft-dis{
	display : block;
	background : url('./images/scrollLeft-dis.gif') no-repeat;
	width : 21px;
	height : 21px;
	cursor : default;
}

.scrollRight{
	display : block;
	background : url('./images/scrollRight.gif') no-repeat;
	width : 21px;
	height : 21px;
}

.scrollRight-dis{
	display : block;
	background : url('./images/scrollRight-dis.gif') no-repeat;
	width : 21px;
	height : 21px;
	cursor : default;
}

.scrollTop{
	display : block;
	background : url('./images/scrollTop.gif') no-repeat;
	width : 21px;
	height : 21px;
}

.scrollTop-dis{
	display : block;
	background : url('./images/scrollTop-dis.gif') no-repeat;
	width : 21px;
	height : 21px;
	cursor : default;
}

.scrollBottom{
	display : block;
	background : url('./images/scrollBottom.gif') no-repeat;
	width : 21px;
	height : 21px;
}

.scrollBottom-dis{
	display : block;
	background : url('./images/scrollBottom-dis.gif') no-repeat;
	width : 21px;
	height : 21px;
	cursor : default;
}

.progress{
	display : block;
	background : url('./images/loading.gif') repeat;
	width : 300px;
	height : 300px;
}